@import "../config";

.Welcome__Container {
  .Welcome {
    height: 100vh;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 100px;

    // text styling
    .Hi {
      font-size: 2rem;
      color: $color-primary;
      // font-family: $font-primary;
      font-weight: 300;
    }
    h1 {
      font-weight: 900;
      font-size: 5rem;
      font-family: $font-secondary;
      color: $color-accent-1;
      &:nth-child(3) {
        font-weight: 700;

        color: $color-primary;
        // color: gray;
      }
    }
    p {
      margin-top: 1rem;
      font-size: 1.4rem;
    }
    .btn-contact {
      // margin-top: 5rem;
      align-self: center;
      border: 1px solid $color-btn-bg;
      padding: 0.7rem 3rem;
      margin-top: 3rem;
      border-radius: 10px;
      font-size: 1.2rem;
      display: inline-block;
      color: $color-accent-1;
      border-color: $color-accent-1;
      -webkit-transition: color 0.2s;
      -moz-transition: color 0.2s;
      -o-transition: color 0.2s;
      -ms-transition: color 0.2s;
      transition: color 0.2s;
      &:hover {
        color: $color-accent-2;
        border-color: $color-accent-2;
      }
    }
  }
}
