@import "../config";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700;900&display=swap");

.Welcome__Container {
  .Welcome {
    height: 100vh;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 100px;

    // text styling
    .Hi {
      font-size: 1.5rem;
      color: darken($color-accent-1, 15);
    }
    h1 {
      font-weight: 700;
      font-size: 5rem;
      font-family: "Noto Sans KR", sans-serif;
      // line-height: 5rem;
      &:nth-child(3) {
        color: darken(gray, 10);
      }
    }
    p {
      margin-top: 1rem;
      font-size: 1.5rem;
    }
  }
}
