@import "../config";

#Portfolio {
  @include set-page-height();
  @include set-pageTitle-position();
  // padding-top: 4rem;
  .Portfolio__Content {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: 1rem auto;
    height: 75%;

    img:hover {
      @include animation-scale(1.1);
    }
  }
}
