@import "../config";

#Contact {
  @include set-pageTitle();
  @include set-page-height();

  .Content {
    text-align: center;

    p {
      margin-bottom: 1.2rem;
      font-size: 1.5rem;
    }
    .btn-contact {
      border: 1px solid $color-btn-bg;
      padding: 1rem 3rem;
      margin-top: 2rem;
      border-radius: 5px;
      font-size: 1.2rem;
      display: inline-block;
      color: darken(lightblue, 20);
      border-color: darken(lightblue, 20);
      &:hover {
        background-color: darken($color-btn-bg, 10);
        color: $color-bg;
        border-color: $color-bg;
      }
      // background-color: $color-btn-bg;
    }
  }
}
