@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Open+Sans:wght@300;400&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  color: #ebebeb;
  background-color: #222831;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ebebeb;
}

a:visited {
  color: #ebebeb;
}

.app {
  position: relative;
}

.Header {
  position: fixed;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 3rem;
}

.Header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Header .active {
  color: #28a498;
  font-weight: 600;
}

.SocialMediaContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  z-index: 2;
  left: 50px;
  bottom: 0px;
}

.SocialMediaContainer svg {
  width: 20px;
  height: 20px;
  fill: #28a498;
}

.SocialMediaContainer svg:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-transition: 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.SocialMediaContainer ul {
  margin: 0;
}

.SocialMediaContainer ul li {
  margin-top: 1.2rem;
}

.SocialMediaContainer ul li:last-child::after {
  content: '';
  display: block;
  width: 1px;
  height: 150px;
  background-color: #28a498;
  margin: 1rem auto 0;
}

.SocialMediaContainer .IconGitHub {
  fill: white;
}

.SocialMediaContainer .IconLinkedIn {
  fill: #3d99f5;
}

.SocialMediaContainer .IconTwitter {
  fill: #1da1f3;
}

#AboutMe {
  min-height: 100vh;
  padding-top: 12rem;
}

#AboutMe .Content {
  max-width: 50%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 350px;
}

#AboutMe .Content .Content__Left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 3rem;
}

#AboutMe .Content .Content__Left img {
  width: 300px;
  border: 1px solid #ebebeb;
  border-radius: 50%;
}

#AboutMe .Content .Content__Left h1 {
  margin-top: 1rem;
  font-size: 3.5rem;
  font-weight: 900;
  font-family: "Noto Sans JP", sans-serif;
  color: #28a498;
}

#AboutMe .Content .Content__Right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#Portfolio {
  min-height: 100vh;
}

#Portfolio h1 {
  margin-left: 10rem;
  margin-bottom: 3rem;
  padding-top: 6.5rem;
  font-size: 3rem;
  font-size: 3.5rem;
  font-family: "Noto Sans JP", sans-serif;
  color: #28a498;
}

#Portfolio .Portfolio__Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 80%;
  margin: 1rem auto;
  height: 75%;
}

#Portfolio .Portfolio__Content img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#Resume {
  min-height: 100vh;
}

#Resume h1 {
  margin-left: 10rem;
  margin-bottom: 3rem;
  padding-top: 6.5rem;
  font-size: 3rem;
  font-size: 3.5rem;
  font-family: "Noto Sans JP", sans-serif;
  color: #28a498;
}

#Resume .Resume__Frame {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#Resume iframe {
  height: 1165px;
  width: 920px;
  margin: auto;
}

#Contact {
  min-height: 100vh;
}

#Contact h1 {
  margin-left: 10rem;
  margin-bottom: 3rem;
  padding-top: 6.5rem;
  font-size: 3rem;
  font-size: 3.5rem;
  font-family: "Noto Sans JP", sans-serif;
  color: #28a498;
}

#Contact .Content {
  text-align: center;
}

#Contact .Content p {
  margin-bottom: 1.2rem;
  font-size: 1.4rem;
}

#Contact .Content .btn-contact {
  border: 1px solid #ebebeb;
  padding: 0.7rem 3rem;
  margin-top: 2rem;
  border-radius: 10px;
  font-size: 1.2rem;
  display: inline-block;
  color: #28a498;
  border-color: #28a498;
}

#Contact .Content .btn-contact:hover {
  color: #e88262;
  border-color: #e88262;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#Contact .Content .LinkedInLink {
  color: #3d99f5;
}

#Footer {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 2rem;
}

#Footer p {
  color: #ebebeb;
  margin-top: 0.35rem;
}
/*# sourceMappingURL=App.css.map */