@import "../config";
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");

.Header {
  position: fixed;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 3rem;

  // Logo
  .Logo a {
    font-size: 2rem;
    font-weight: 400;
    font-family: "Parisienne", cursive;
  }
  // list items
  ul {
    display: flex;
    width: 400px;
    justify-content: space-between;
  }

  // active links on navbar
  .active {
    color: $color-accent-1;
    font-weight: 600;
  }
}
