@import "../config";
.SocialMediaContainer {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: fixed;
  // height: 150px;
  left: 50px;
  bottom: 0px;
  svg {
    width: 20px;
    height: 20px;
    fill: $color-icon;
    &:hover {
      @include animation-icon();
    }
  }

  ul {
    margin: 0;

    li {
      margin-top: 1.2rem;
    }

    li:last-child::after {
      content: "";
      display: block;
      width: 1px;
      height: 150px;
      background-color: lightseagreen;
      margin: 1rem auto 0;
    }
  }

  #IconGitHub {
    fill: white;
  }
  #IconLinkedIn {
    fill: #0a66c2;
  }
  #IconTwitter {
    fill: #1da1f3;
  }
}
